@use "@/styles/variables" as *;
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

.timer-wrapper {
  width: 1168px;
  height: 546px;
  border-radius: 20px;
  border: 1px solid $gray-200;
  padding: 40px 24px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.title {
  width: 1120px;
  height: 29px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 100px;
}

.timer-display {
  width: 437px;
  height: 179px;
  font-family: "Pretendard", sans-serif;
  font-weight: 800;
  font-size: 150px;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  color: $black;
  margin: 0 auto 94px;

  &.warning {
    color: $error-200;
  }
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 94px;
}

/* ▶ 일시정지 버튼 */
.pause-btn {
  width: 64px;
  height: 64px;
  background-image: url("/src/assets/buttons/btn_pause/btn_pause_pc_active.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* ▶ 초기화 버튼 */
.reset-btn {
  width: 64px;
  height: 64px;
  background-image: url("/src/assets/buttons/btn_restart/btn_restart_pc_active.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* ▶ 시작/중지 버튼 */
.start-btn {
  width: 333px;
  height: 60px;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  cursor: pointer;

  &.start {
    background-image: url("/src/assets/buttons/btn_start/btn_start_pc_active.svg");
  }

  &.start.inactive {
    background-image: url("/src/assets/buttons/btn_start/btn_start_pc_inactive.svg");
    pointer-events: none;
    cursor: default;
    width: 333px;
    height: 60px;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &.stop {
    background-image: url("/src/assets/buttons/btn_stop/btn_stop_pc_active.svg");
  }
}
